In [17]:
#printing the dataset
import pandas as pd 
import numpy as np

data1 = pd.read_csv("22yztw.csv")
print(data1)

    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80          NaN        2500
2        R103       P098  Hypertension    high        140.0        3000
3        R104       P038        Asthma  140/90          NaN        3000
4        R105       P040        Asthma  130/85          NaN        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high          NaN        1500
117      R218       P063  Hypertension  140/90          NaN        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500

[120 rows x 6 columns]

In [18]:
data2 = pd.read_csv("6svfo1.csv")
print(data2)

    patient_id          name   age  gender     city admission_date height_cm
0         P001           NaN  25.0       F   mumbai     15/01/2024       180
1         P002  Rahul Sharma  60.0       F    Delhi     2024/01/16       170
2         P003    Neha Singh  45.0       M   Mumbai     2024/01/16       150
3         P004    Neha Singh  60.0    Male  kolkata     15/01/2024       170
4         P005    Neha Singh  25.0    Male  kolkata     2024-01-15       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai     2024-01-15       150
126       P007    Neha Singh  25.0       F  kolkata     15/01/2024       150
127       P008     John Paul  60.0       F  Chennai     2024-01-15       160
128       P009           NaN  45.0       M   Mumbai     2024-01-15       150
129       P010  Rahul Sharma  60.0  Female  Chennai     2024/01/16       150

[130 rows x 7 columns]

In [19]:
#merging the two datasets.
merged_data = pd.merge(data1, data2, on = "patient_id")
print(merged_data)

    record_id patient_id     diagnosis      bp  sugar_level  visit_cost  \
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80          NaN        2500
2        R103       P098  Hypertension    high        140.0        3000
3        R104       P038        Asthma  140/90          NaN        3000
4        R105       P040        Asthma  130/85          NaN        1500
..        ...        ...           ...     ...          ...         ...
126      R216       P081        Asthma    high        110.0        2500
127      R217       P033      Diabetes    high          NaN        1500
128      R218       P063  Hypertension  140/90          NaN        2000
129      R219       P011  Hypertension  130/85        180.0        2500
130      R220       P013  Hypertension    high        180.0        1500

             name   age  gender     city admission_date height_cm
0       John Paul  25.0  Female    Delhi     15/01/2024       abc
1       John Paul   NaN  Female   Mumbai     15/01/2024       170
2       John Paul  60.0  Female  kolkata     2024-01-15       170
3             NaN  60.0    Male   Mumbai     2024/01/16       170
4      Neha Singh   NaN       F  Chennai     2024/01/16       150
..            ...   ...     ...      ...            ...       ...
126  Rahul Sharma  45.0       F    Delhi     2024-01-15       abc
127   Anita Verma   NaN       F   mumbai     2024-01-15       150
128  Rahul Sharma   NaN    Male    Delhi     2024/01/16       160
129  Rahul Sharma  25.0       M    Delhi     2024-01-15       170
130     John Paul  25.0  Female    Delhi     15/01/2024       abc

[131 rows x 12 columns]

In [20]:
merged_data.to_csv("merged_data.csv", index=False)

In [35]:
merged_data['gender'] = merged_data['gender'].replace(['F','M'] , ['Female','Male'])
merged_data['height_cm'] = merged_data['height_cm'].replace('abc', np.nan)
merged_data["age"] = merged_data["age"].replace(-5, 5)
merged_data["name"] = merged_data["name"].fillna("unknown")
merged_data["bp"] = merged_data["bp"].replace("high" , "140/90")
merged_data["admission_date"] = merged_data["admission_date"].replace("2024-01-15", " 15/01/2024")
merged_data["admission_date"] = merged_data["admission_date"].replace("2024/01/16", "16/01/2024")
merged_data = merged_data[['record_id', 'patient_id', 'admission_date', 'name', 'age', 'gender', 'height_cm', 'city', 'bp', 'sugar_level', 'diagnosis', 'visit_cost']]

print(merged_data)

    record_id patient_id admission_date          name   age  gender height_cm  \
0        R101       P013     15/01/2024     John Paul  25.0  Female       NaN
1        R102       P105     15/01/2024     John Paul   NaN  Female       170
2        R103       P098     15/01/2024     John Paul  60.0  Female       170
3        R104       P038     16/01/2024       unknown  60.0    Male       170
4        R105       P040     16/01/2024    Neha Singh   NaN  Female       150
..        ...        ...            ...           ...   ...     ...       ...
126      R216       P081     15/01/2024  Rahul Sharma  45.0  Female       NaN
127      R217       P033     15/01/2024   Anita Verma   NaN  Female       150
128      R218       P063     16/01/2024  Rahul Sharma   NaN    Male       160
129      R219       P011     15/01/2024  Rahul Sharma  25.0    Male       170
130      R220       P013     15/01/2024     John Paul  25.0  Female       NaN

        city        bp  sugar_level     diagnosis  visit_cost
0      Delhi    120/80        140.0  Hypertension        2000
1     Mumbai    120/80          NaN      Diabetes        2500
2    kolkata  1.555556        140.0  Hypertension        3000
3     Mumbai    140/90          NaN        Asthma        3000
4    Chennai    130/85          NaN        Asthma        1500
..       ...       ...          ...           ...         ...
126    Delhi  1.555556        110.0        Asthma        2500
127   mumbai  1.555556          NaN      Diabetes        1500
128    Delhi    140/90          NaN  Hypertension        2000
129    Delhi    130/85        180.0  Hypertension        2500
130    Delhi  1.555556        180.0  Hypertension        1500

[131 rows x 12 columns]

In [30]:
merged_data.to_csv("merged_data.csv", index=False)